<h2>Hello, my name is Ari!</h2>
<p>I'm originally from the Bay Area, but to tell you a secret, I think I prefer Seattle over the Bay.</p>
<p>I'm making a career change and entering into Software Engineering. There's so much to learn but 
    I'm ejoying the challenge. </p>
<p>Stay tooned for all my progress and take a look at my 'projects' and 'contact me' page</p>

<ul>
    <%faves.forEach(function(fave){ %>
        <li><%= fave %></li>
    <%}) %>
</ul>